.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-form {
    width: 100%;
    input {
      padding: 0.8rem;
      border: none;
      outline: none;
      border-bottom: 4px solid transparent; /* Initially hide the bottom border */
      transition: border-color 0.9s ease; /* Add a smooth transition for the border color change */
    }
    input:focus {
      border-color: var(--highlight-bg); /* Change the border color on focus */
    }
  }
}
