<div class="col-12 p-4 flex justify-content-center align-items-center">
    <div class="col-12 md:col-10 xl:col-8 p-6 surface-card  flex flex-column justify-content-center align-items-center">
        <h1>Strategin Test Technique</h1>
        <h2>API sécurisée par Register/Login</h2>

        <div class="col-12 flex justify-content-center align-items-center gap-4">
            <a href="https://cvbuilder-singlepage.netlify.app/cv/editor/about" target="_blank">Amos DORCEUS</a>
            <a href="https://www.linkedin.com/in/amosdorceus/" target="_blank">LinkedIn</a>
            <a href="https://github.com/T-lamo/" target="_blank">Github</a>
        </div>
        <h3>Tél: +33749286021</h3>

    </div>
</div>