.layout-topbar {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--surface-card);
  transition: left 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;

  .layout-menu-button {
    margin-left: 2rem;
  }
  .layout-topbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .layout-topbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color 0.2s;
    .p-link {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-feature-settings: var(--font-feature-settings, normal);
      font-size: 2rem;
      user-select: none;
      i {
        font-size: 2rem;
      }
      svg {
        fill: var(--text-color);
      }
    }
  }
  .layout-topbar-button:hover {
    color: var(--text-color);
    background-color: var(--surface-hover);
  }
}

.right-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 300px;
  border-radius: 12px;
  .layout-topbar-logo {
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
    }
  }
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
